
.fight-game h1{
  position: relative;
  top: 100px;
 text-align: center;
 color:chocolate;
 font-size: 40px;
}
.fight-game{
  align-content: center;
}

.player-1 , .player-2{
  float: left; 
  position: relative; 
  left: 18%;
  margin-right: 55px; 
}
  .fight-game p{
    position: relative;
    font-size: 25px;
    font-weight: bold;
    color:chocolate;
    margin-left:10px;
    width: 200px;
    top: 180px;
  }

  .player-1 p , .player-2 p{
    opacity: 0.9;
  }

.player-1 img , .player-2 img{
  position: relative;
  top:220px;
  width: 400px;
  height: 400px;

}
#player2-click:active , #player1-click:active {
  width:170px;
  height:174px;
}
/* 
/* /* #player2-click:active{
  -webkit-animation: mymove 5s infinite; 
  animation: mymove 5s infinite; 
} 

/* @-webkit-keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
}

@keyframes mymove {
  from {left: 0px;}
  to {left: 200px;}
} */
.progress {
  position: relative;
  top: 170px;
  display: flex;
  height: 1.5rem;
  width: 350px;
  overflow: hidden;
  font-size: 0.75rem;
  background-color: #e9ecef;
  border-radius: 0.25rem;
  margin-bottom: 25px;
}

.progress-bar {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  background-color:sienna ;
  transition: width 0.6s ease;
}


